.App {
  /* text-align: center; */
  background-color: rgb(251, 158, 203);
  /* justify-content:center;
  align-items: center; */
  cursor: pointer; 
}

.header-line{
  text-align: center;
}

.nav-bar {
  text-align: center;
  overflow: hidden;
  background-color: rgb(250, 222, 233);
  padding: 5px; 
  width: 100%;
}

.nav-bar a{
  text-align: center;
  color: #3a0124;
  text-decoration: none;
  font-size: 17px;
  margin: 5px;
}

.bank-container{
  width: 200px;
  height: 200px;
  /* text-align: center; */
  display: inline-block;
  border-radius: 1%;
  border-style: hidden;
  margin: 10px;
  padding: 10px;
  background: url(images/pink.jpg) no-repeat left center fixed; 
  /* float: right; */
  /* align-items: center; */
  /* background-position-y: bottom; */
}

.piggy-bank-form{
  display: inline-block;
  border-radius: 1%;
  border-style: hidden;
  margin: 10px;
  padding: 10px;
  background: url(images/pink.jpg) no-repeat left center fixed; 
  text-align: center;
  /* inset-block-start: left; */
}

.piggy-bank-form-text{
  /* margin: 1px;
  padding: 1px; */
  padding: 6px 10px;
}

.form-button{
  background-color: rgb(121, 8, 64);
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: dashed;
  margin: 10px;
}

.fund-container{
  display: inline-block;
  border-radius: 10%;
  border-style: hidden;
  margin: 10px;
  padding: 10px;
}

.img{
  max-width: 400px;
  margin: auto;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
