.App {
  text-align: center;
  background-color: rgb(251, 158, 203);
  justify-content:center;
  align-items: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.nav{
  /* text-align: center; */
  text-decoration: none;
  text-size-adjust: 30;
  margin: 10px;
  padding: 10px;
   /* display:flex; */
}

.piggy-bank-form{
  /* align-self: center; */
  display: inline-block;
  border-radius: 10%;
  border-style: solid;
  margin: 10px;
  padding: 10px;
  /* background-color: rgb(251, 158, 203); */
  background: url(images/pink.jpg) no-repeat center center fixed; 
  /* background-image: url('/images/piggy') */
}

.bank-container{
  /* align-self: center; */
  display: inline-block;
  border-radius: 10%;
  border-style: solid;
  margin: 10px;
  padding: 10px;
  background: url(images/pink.jpg) no-repeat center center fixed; 
  /* -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; */
  /* background-image: url('/images/piggy') */
}

.fund-container{
  display: inline-block;
  border-radius: 10%;
  border-style: solid;
  margin: 10px;
  padding: 10px;
}


.img{
  max-width: 400px;
  margin: auto;
}

/* background: url("./images/soft-pink.jpeg") no-repeat center
    center fixed; */

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(17, 9, 9);
} */

/* .App-link {
  color: #61dafb;
} */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
