.App {
  /* text-align: center; */
  background-color: rgb(251, 158, 203);
  /* justify-content:center;
  align-items: center; */
  cursor: pointer;
  /* text-align: center; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.nav-bar{
  text-align: center;
  overflow: hidden;
  background-color: rgb(250, 222, 233);
  padding: 5px; 
  width: 100%;
}

.nav-bar a{
  text-align: center;
  float: center;
  color: #3a0124;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
  margin: 5px;
}

.bank-container{
  width: 200px;
  height: 200px;
  /* text-align: center; */
  display: inline-block;
  border-radius: 10%;
  border-style: hidden;
  margin: 10px;
  padding: 10px;
  background: url(images/pink.jpg) no-repeat left center fixed; 
  align-items: center;
}

.piggy-bank-form{
  display: inline-block;
  border-radius: 10%;
  border-style: hidden;
  margin: 10px;
  padding: 10px;
  background: url(images/pink.jpg) no-repeat left center fixed; 
}

.form-button{
  background-color: rgb(121, 8, 64);
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: dashed;
  margin: 10px;
}

.fund-container{
  display: inline-block;
  border-radius: 10%;
  border-style: hidden;
  margin: 10px;
  padding: 10px;
}


.img{
  max-width: 400px;
  margin: auto;
}

/* background: url("./images/soft-pink.jpeg") no-repeat center
    center fixed; */

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(17, 9, 9);
} */

/* .App-link {
  color: #61dafb;
} */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
